/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
body {
    background: linear-gradient(to bottom, #84DAFF, #37517e);
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el fondo se extienda al menos al tamaño de la pantalla */
    background-attachment: fixed; /* Mantener el fondo fijo */
    position: relative; /* Agrega esta propiedad para crear un punto de referencia para el posicionamiento absoluto */
}

  header {
    text-align: center;
    position: relative;
  }

  .title {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 170px;
    margin-bottom: 10px;
  }

  .container {
    max-width: 50cm;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: #c2e8ff; /* Color celeste claro */
    max-height: 17cm;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-bottom: 2cm;
  }

  .table{
    background-color: #72beed; /* Color celeste claro */
    max-height: 5cm;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto; /* Margen automático a la izquierda y derecha */
    margin-right: auto;
    width: calc(100% - 6rem); /* Restamos el doble del padding para ajustar el ancho */
  }

  footer {
    background-color: #c2e8ff;
    padding: 10px;
    text-align: center;
  }

  /* login y registro */
  input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
  }

  /* estilos del boton guardar y input */
  .btn-guardar {
    background-color: #2f36c6;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
  }
/* fin estilo guardar */

/* Estilos para el botón "Nuevo Servicio" */
.button.is-success {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

.button.is-success:hover {
    background-color: darkblue;
  }
  /* fin */

  /* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad
    display: none;
    z-index: 9998; /* Por debajo del círculo de carga
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 9999;
  } */

  /* boton editar*/
  .btn-history{
    background-color: #7B57B9;
    color: white;
    border-radius: 5px;
  }

  .crud-title {
    text-align: center;
    margin-top: 10px;
  }

  .information {
    padding: 10px;
    width: 18cm;
    display: flex;
    flex-direction: column;
  }

  .information label {
    align-self: flex-start;
    margin-bottom: 5px;
  }

  .information input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .rectangulo {
    background-color: #c2e8ff;
    text-align: center;
  }

  .fila {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .cuadrado {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: rgb(74, 136, 157);
    border-radius: 5px;
  }

  .espacio {
    height: 4px;
  }
  .espacio2 {
    height: 15px;
  }

  /*Tabla de diagnostico*/
  .pintado {
    background-color: #72beed;
  }

/* Ajusta el tamaño del texto del título y la alineación vertical */
.modal-card-title {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
  }
.modal-item{
    margin-left: 15px;
}

  .modal-card {
    width: 10cm;
    height: 16cm;
  }

  /* Ajusta la posición del botón de cierre */
  .modal-card-head header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }
  .form-label {
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
  }

  /* Estilos para el modal */
  .modal-dientes {
    margin-top: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow-y: auto; /* Agrega scroll vertical si el contenido excede el tamaño del modal */
    border-radius: 5px;
  }

  .modal-card-head {
    background-color: #a9d9f7; /* Color celeste claro */
  }

  .modal-card-body {
    background-color: #d6ecf5; /* Color celeste claro */
  }

  .modal-card-foot {
    background-color: #d6ecf5; /* Cambio el color de fondo a transparente */
    justify-content: flex-end;
}
  .modal-dientes.is-active {
    display: block;
  }

  .modal-servicios.is-active {
    display: block;
  }
  .modal-card-body {
    display: flex;
    flex-direction: column;
  }

  .modal-color {
    margin: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .modal-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-item.selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
